.Signup {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.Signup .signup-form {
    border: 1px solid rgb(28, 66, 28);
    height: 50vh;
    width: 80%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 3rem;
}

.Signup .signup-form h2 {
    font-family: var(--ORBITRON);
    color:rgb(149, 32, 178);
}

.Signup .username-container,
.Signup .password-container {
    width: 100%;
    padding: 0 2rem;
}

.Signup input {
    width: 100%;
    height: 3rem;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(149, 32, 178);
}

.Signup label {
    display: none;
}

.Signup button {
    width: 85%;
    height: 3rem;
    border: none;
    background-color: rgb(28, 66, 28);
    color: white;
    font-family: var(--ORBITRON);
}

.Signup .questions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3rem;
}

.Signup a {
    color: rgb(149, 32, 178);
}